body {
		background-image: url("./../home_page/images/milky_way_background.jpeg");
		padding: 0;
		margin: 5px;
		z-index: 0;
}

canvas.canvasStyle{
	width : 60%;
	height : 5%;
    //border: 1px solid yellow;
	position: absolute;
	z-index: -1;
	padding-left: 20%;
	padding-right: 20%;
}

div.contentStyle{
	width : 60%;
	//height: 40%;
	margin-left: 20%;
	margin-right: 20%;
	border: 2px solid yellow;
}


.text{
	color: red;
	padding-left: 21%;
}

.img{
	display: block;
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	width: 60%;
    background-color: #333;
	margin-left: 20%;
	margin-right: 20%;
}

li {
    float: left;
	border-right: 1px solid #bbb;
}

li:last-child{
	border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active{
	background-color: #339EFF;
	color: white;
}

li a:hover{
	background-color: #555;
	color: white;
}

.loginbox{
	width: 25%;
	height: 45%;
	background: rgba(0,0,0,0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -25%);
	box-sizing: border-box;
	border-radius: 5%;
}

.avatar{
	width: 25%;
	height: 25%;
	border-radius: 50%;
	position: absolute; 
	top: -12%;
	left: 38%;
} 

.loginHeader{
	margin:0;
	text-align: center;
    padding:10% 0 25px;
	color: white;
}

.loginbox label{
	margin:0 auto;
	padding:2%;
	font-weight: bold;
	display:block;
	font-size: 1.5em;
}  

.loginbox input{
	width: 60%;
	margin-bottom: 15px;
	//font-size: large;
}

.passwordStyle{
	margin-left: 1%;
}

.loginbox a{
	color:red;
	font-weight: bold;
	text-align:center;
	font-size: 1.5em;
	margin:0 auto;
	display: block;
}

.submitStyle{
	margin:0 auto;
	color: white;
	background-color: #2eb82e;
	display: block;
	font-size:2em;
	font-weight:bold;
	border-radius:20px;
	width: 70%;
	border:none;
	outline:none; 

}

.submitStyle:hover{
	background-color: #66ff99;
}

.loginbox input[type="text"], input[type="password"]{
	border:none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 10%;
	font-size: 0.9em;
	color:white;

}

.divFormStyle{
	background-color:rgba(0,0,0,0.5);
	margin-left:20%;
	margin-right:60%;
	display: none;
}

.buttonStyle{
	width: 20%;
	height: 35px;
	border-radius: 20px;
	margin:1%;
	font-weight: bold;
	display: block;
	margin:0 auto;
	color: white;
	background-color: #2eb82e;
}

.buttonStyle:hover{
	background-color: #66ff99;
}


.labelStyle{
	color: red;
}

#formId{
	margin:2%;
}
