body {
		background-image: url("images/milky_way_background.jpeg");
		padding: 0;
		margin: 5px;
		z-index: 0;
}

canvas.canvasStyle{
	width : 60%;
	height : 5%;
    //border: 1px solid yellow;
	position: absolute;
	z-index: -1;
	padding-left: 20%;
	padding-right: 20%;
}

div.contentStyle{
	width : 60%;
	//height: 40%;
	margin-left: 20%;
	margin-right: 20%;
	border: 2px solid yellow;
}


.text{
	//top: 5px;
//	left: 10px;
	color: red;
	padding-left: 21%;
}

.img{
	display: block;
	width: 10%;
	margin-left: auto;
	margin-right: auto;
//	height: 10%;
	//padding-left: 21%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	width: 60%;
    background-color: #333;
	margin-left: 20%;
	margin-right: 20%;
//	padding-left: 20%;
//	padding-right: 20%;
}

li {
    float: left;
	border-right: 1px solid #bbb;
}

li:last-child{
	border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active{
	background-color: #339EFF;
	color: white;
}

li a:hover{
	background-color: #555;
	color: white;
}

//The code below is taken from http://www.javascriptkit.com/script/script2/cubeslideshow.shtml

div.jkcubeslideshow{ /* main container */
	background: white;
	display: block;
	width: 300px; /* default width of main container */
	height: 375px; /* default height of main container */
	position: absolute;
	-webkit-perspective: 1000px; /* Greater the value, less pronounced the 3D effect */
	perspective: 1000px; /* Greater the value, less pronounced the 3D effect */;
}

div.side1, div.side2 { /* two panels that make up cube effect */
	width: 100%;
	height: 100%;
	position: absolute;
	-moz-box-sizing: border-box;
	margin-left: 110%;
	box-sizing: border-box;
	backface-visibility: hidden; /* hide backface of DIVs */
	transition: all 1s ease-in-out; /* CSS transition. Actual duration set by script */;
}

div.side1 img, div.side2 img { /* how should slideshow images be sized inside panels? */
	width: 100%;
	height: auto;

}


#wrapper2{
//	width: 50%;
}

.right{
//	width:300px;
//	height:100px;
	background-color:rgba(0,0,0,0.5);
	float:right;


.cubeshow1{
	float:left;
	border: 2px solid yellow;
}

.triviaDiv{
	margin-left: 20%;
	margin-right: 20%;
}
